src/llm-voice-assistant-client/audio-input/
src/llm-voice-assistant-client/audio-response/
src/llm-voice-assistant-client/.venv/
src/llm-voice-assistant-client/chat-history_ _ p y c a c h e _ _ /
src/llm-voice-assistant-client/chat-history
 
 